<div class="row">
    <div class="col-6">
        Gráfica
        <app-dona title="Ventas"></app-dona>
    </div>
    <div class="col-6  col-md-6">
        <app-dona 
            [labels]="labels1"
            [data]="data1"
            title="ComprasX">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        Gráfica
        <app-dona title="Cambios"> </app-dona>

    </div>
    <div class="col-6">
        Gráfica
        <app-dona title="Compras 2"></app-dona>

    </div>
</div>